**Import Library**

In [173]:
import pandas as pd

In [175]:
set = pd.read_csv('../Data/top20_set_prices.csv')
sp500 = pd.read_csv('../Data/top20_sp500_prices.csv')

**Data cleaning for SET and S&P500**

**SET**

In [179]:
set.shape

(2664, 145)

In [181]:
set

,Price,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Adj Close.5,Adj Close.6,Adj Close.7,Adj Close.8,...,Volume.14,Volume.15,Volume.16,Volume.17,Volume.18,Volume.19,Volume.20,Volume.21,Volume.22,Volume.23
0,Ticker,ADVANC.BK,AOT.BK,BBL.BK,BDMS.BK,BH.BK,CPALL.BK,CPF.BK,CPN.BK,CRC.BK,...,KBANK.BK,KTB.BK,MINT.BK,OR.BK,PTT.BK,PTTEP.BK,SCB.BK,SCC.BK,TRUE.BK,TTB.BK
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-02,115.70769500732422,13.004045486450195,112.16766357421875,8.86504077911377,68.68024444580078,33.13692855834961,22.704105377197266,31.58096694946289,NaN,...,17348400,84143600,11274079,NaN,34484000,5548200,NaN,1199400,194202011,258678302
3,2014-01-03,121.27652740478516,12.87090015411377,113.85691833496094,8.824374198913574,69.91403198242188,33.13692855834961,22.704105377197266,31.15988540649414,NaN,...,14007700,57976000,9399961,NaN,46203000,5289100,NaN,2618000,296473487,287311397
4,2014-01-06,124.37032318115234,12.648985862731934,117.23546600341797,9.6783447265625,69.0915298461914,33.34403991699219,21.773605346679688,31.58096694946289,NaN,...,17816000,68818900,19638150,NaN,62204000,7342300,NaN,1589200,192726833,189481489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2659,2024-12-03,296.0,61.209999084472656,150.5,26.0,212.0,63.75,24.200000762939453,60.5,34.5,...,17862300,20105200,16294100,5921900.0,17691100,4910000,11866600.0,3259900,37514700,94356000
2660,2024-12-04,289.0,61.5,151.5,25.75,211.0,64.0,24.100000381469727,60.5,33.75,...,16038900,37336500,25590400,4270200.0,30338600,4505000,12380400.0,3534900,52679100,136620600
2661,2024-12-06,295.0,61.0,152.0,25.5,210.0,63.0,24.100000381469727,60.25,34.0,...,7544400,22619700,9642900,6112100.0,24310500,2427800,5165800.0,2436600,52769200,286700300
2662,2024-12-09,295.0,60.5,153.0,25.25,202.0,62.75,23.899999618530273,59.75,34.0,...,17093200,86469800,10810400,6942300.0,12600200,5833300,6849700.0,2925600,22723500,152718400
2663,2024-12-11,289.0,61.5,151.0,25.25,199.5,63.0,23.899999618530273,59.5,34.25,...,9896700,39048000,14136000,5352500.0,33668400,6732800,5862600.0,7035100,102588600,114100700

In [183]:
# drop all the columns except for Adj Close
set = set[[col for col in set.columns if col.startswith(('Price', 'Adj'))]]

In [185]:
set.columns

Index(['Price', 'Adj Close', 'Adj Close.1', 'Adj Close.2', 'Adj Close.3',
       'Adj Close.4', 'Adj Close.5', 'Adj Close.6', 'Adj Close.7',
       'Adj Close.8', 'Adj Close.9', 'Adj Close.10', 'Adj Close.11',
       'Adj Close.12', 'Adj Close.13', 'Adj Close.14', 'Adj Close.15',
       'Adj Close.16', 'Adj Close.17', 'Adj Close.18', 'Adj Close.19',
       'Adj Close.20', 'Adj Close.21', 'Adj Close.22', 'Adj Close.23'],
      dtype='object')

In [187]:
# Reset the index by the name of the stocks 
set.columns = set.iloc[0]
# Drop all the stocks name rows and NaN rows 
set = set[2:]

In [189]:
set.isnull().sum()[set.isnull().sum() != 0]

0
CRC.BK     1498
GULF.BK     958
OR.BK      1735
SCB.BK     2023
dtype: int64

In [191]:
# Seperate the (CRC, GULF, OR, and SCB) into different 
the_rest = set[['CRC.BK', 'GULF.BK', 'OR.BK','SCB.BK']]
the_rest

0    CRC.BK GULF.BK               OR.BK SCB.BK
2       NaN     NaN                 NaN    NaN
3       NaN     NaN                 NaN    NaN
4       NaN     NaN                 NaN    NaN
5       NaN     NaN                 NaN    NaN
6       NaN     NaN                 NaN    NaN
...     ...     ...                 ...    ...
2659   34.5    65.5  14.300000190734863  116.0
2660  33.75   63.25  14.100000381469727  118.0
2661   34.0    65.0  14.100000381469727  118.0
2662   34.0   64.25  13.899999618530273  118.5
2663  34.25   63.25  14.100000381469727  118.0

[2662 rows x 4 columns]

In [193]:
main = set.drop(columns = ['CRC.BK', 'GULF.BK', 'OR.BK','SCB.BK'])
main = main.rename(columns ={'Ticker':'Date'})

In [195]:
# set date to date 
main['Date'] = pd.to_datetime(main['Date'])

# set date into index 
main = main.set_index('Date')

In [197]:
# Converting all the obj into float
for col in main.columns[1:21] :
        main[col] = main[col].astype(float)

In [199]:
# Export the file 
main.to_csv("../Data/SET_main.csv")
the_rest.to_csv("../Data/SET_residual.csv")

In [201]:
main.shape

(2662, 20)

**S&P500**

In [205]:
# Drop all the columns except for Adj Close
sp500 = sp500[[col for col in sp500.columns if not  col.startswith('Volume')]]

In [207]:
# Reset the index by the name of the stocks 
sp500.columns = sp500.iloc[0]
# Drop all the stocks name rows and NaN rows 
sp500 = sp500[2:]

In [209]:
sp500 = sp500.rename(columns ={'Ticker':'Date'})
# set date to date 
sp500['Date'] = pd.to_datetime(sp500['Date'])

# set date into index 
sp500 = sp500.set_index('Date')

In [211]:
# Converting all the obj into float
for col in sp500.columns[1:21] :
        sp500[col] = sp500[col].astype(float)

In [213]:
# Export the file 
sp500.to_csv("../Data/sp500_main.csv", index=False)

In [215]:
sp500.shape

(2755, 100)